[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/min-academic"]
	path = themes/min-academic
	url = https://github.com/jhu247/minimal-academic.git
